<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuyiwen.dao.UserMapper">
    <select id="getUserList" resultType="User22" >
         select * from user
     </select>


    <select id="getUserById" resultType="com.wuyiwen.pojo.User">
        select * from user where id =#{id}
    </select>

    <update id="addUser" parameterType="com.wuyiwen.pojo.User" >
        insert into user (id,name,password,address,phone) values (#{id},#{name},#{password},#{address},#{phone});
    </update>

    <update id="updateUser" parameterType="com.wuyiwen.pojo.User">
        update user set name = #{name},password = #{password} where id = #{id}
    </update>

    <delete id="deleteUser" parameterType="int">
        delete from user where id = #{id}
    </delete>
</mapper>