<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuyiwen.dao.UserMapper">
    <select id="getUserList" resultType="User" >
         select * from user
     </select>


    <select id="getUserById" resultType="com.wuyiwen.pojo.User">
        select * from user where id =#{id}
    </select>

    <update id="addUser" parameterType="com.wuyiwen.pojo.User" >
        insert into user (id,name,password,address,phone) values (#{id},#{name},#{password},#{address},#{phone});
    </update>

    <update id="updateUser" parameterType="com.wuyiwen.pojo.User">
        update user set name = #{name},password = #{password} where id = #{id}
    </update>

    <delete id="deleteUser" parameterType="int">
        delete from user where id = #{id}
    </delete>


    <select id="getUserListByLimit" parameterType="map" resultType="User">
        select * from user limit #{start},#{size}
    </select>

    <select id="getUserByParam" parameterType="int" resultType="User">
        select * from user where id = #{cao}
    </select>


    <select id="getUserListByIds" resultType="java.util.HashMap" >
		select	u.name, u.password, u.address from user u where u.id in (#{ids})
	</select>
</mapper>